.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  @media (min-width: 768px) {
    width: 75%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }
}



.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    margin: 0;
  }
}

.logo-title-light {
  color: #1976d2;
}

.logo-title-dark {
  color: white;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
